.left {
    float: left;
}

.right {
    float: right;
}

body {
    background-color: #0079bf;
}

header {
    background-color: #0067a3;
}

.top-header {
    height: 40px;
}

.top-header-sec {
    height: 100%;
}

.top-ul {
    height: 100%;
    display: inline-block;
}

.top-li {
    display: inline-block;
    height: 80%;
    margin-left: 5px;
    margin-top: 4px;
    outline: none;
    border: 0px;
    background-color: #4d95bf;
    color: white;
    border-radius: 3px;
}

.top-li:hover {
    background-color: #56a7d6;
}

.tr-logo {
    margin-right: 3px
}

.top-btn-inp {
    margin-left: 5px;
    display: inline-block;
    height: 80%;
    background-color: #4d95bf;
    outline: none;
    border: 0px;
    border-radius: 3px;
    color: white;
}

.top-inp {
    height: 70%;
    border: 0px;
    background-color: #4d95bf;
    outline: none;
    color: white;
}

.logo-a {
    display: contents;
}

.logo {
    height: 80%;
    margin: 4px 30%;
    opacity: 0.6;
}

.logo:hover {
    opacity: 0.8;
}

.border {
    color: #4d95bf;
    display: inline-block;
    font-size: 20px;
}

.main-task {
    display: contents;
}

.task {
    width: 250px;
    display: inline-grid;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.title {
    height: 30px;
}

.title-h3,
.menuicon {
    margin-top: 5px;
    color: rgb(141, 141, 141);
}

.main-works {
    display: contents;
}

.works {
    margin: 0 auto;
    width: 80%;
    background-color: rgb(214, 214, 214);
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgb(99, 99, 99);
}

.works-note {
    margin-left: 10px;
}

.add-work-div {
    display: contents;
}

.add-work-btn,
.add-work-inp {
    height: 30px;
    outline: none;
    border: 0px;
    border-top: 1px solid rgb(214, 214, 214);
    color: rgb(141, 141, 141);
    text-align: left;
}

.add-work-btn:hover {
    background-color: rgb(204, 204, 204);
}

.main-add-task {
    display: inline-block;
    height: 30px;
}

.add-task {
    height: 100%;
    width: 150px;
    border-radius: 3px;
    border: 0px;
    outline: none;
    background-color: #3d99ce;
    color: white;
}

.add-task:hover {
    background-color: #42a7e2;
}

.add-task-inp {
    height: 100%;
    width: 100px;
    border-radius: 3px;
    border: 0px;
    outline: none;
    width: 200px;
    background-color: white;
}

.hidden {
    display: none;
}

.show {
    display: block;
}