.left {
    float: left;
}

.right {
    float: right;
}

body {
    background-color: #0079bf;
}

header {
    background-color: #0067a3;
}

.top-header {
    height: 40px;
}

.top-header-l-se {
    height: 100%;
}

.top-ul-r {
    height: 100%;
    display: inline-block;
}

.top-li-r {
    display: inline-block;
    height: 80%;
    margin-left: 5px;
    margin-top: 4px;
    outline: none;
    border: 0px;
    background-color: #4d95bf;
    color: white;
    border-radius: 3px;
}

.tr-logo {
    margin-right: 3px
}

.top-btn-inp {
    margin-left: 5px;
    display: inline-block;
    height: 80%;
    background-color: #4d95bf;
    outline: none;
    border: 0px;
    border-radius: 3px;
    color: white;
}

.top-inp {
    height: 70%;
    border: 0px;
    background-color: #4d95bf;
    outline: none;
    color: white;
}

.logo {
    height: 80%;
    margin: 4px 30%;
    opacity: 0.6;
}